* {
    margin: 0;
}

.game-container {
    background-color: red;
    /* JEŚLI COŚ SIĘ ROZJECHAŁO, WIDAĆ CZERWONY */
    display: flex;
    flex-flow: row wrap;
    margin: auto;
}

.single-panel {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    background-color: green;
    border: 3px solid #121c54;
}

.main-container {
    width: 80%;
    /* margin: 100px auto; */
}

.header-one {
    margin: 24px;
    font-size: 63px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #121c54;
}

h1 {
    color: gold;
}