* {
    margin: 0;
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #121c54;
}

.main-container {
    width: 100%;
    margin: auto;
}

.game-side-panel {
    /* Tutaj border top-down ma 3px ponieważ tyle mają kafelki planszy */
    margin: 3px 10px;
    box-sizing: border-box;
    width: 120px;
    border: 3px solid gold;
    text-align: center;
}

.game-side-panel>p {
    font-size: 1.5em;
}

.header-one {
    margin: 16px;
    font-size: 4em;
    text-align: center;
}

.sub-header {
    margin: 10px;
}

.game-container {
    background-color: red;
    /* JEŚLI COŚ SIĘ ROZJECHAŁO, WIDAĆ CZERWONY */
    display: flex;
    position: relative;
    flex-flow: row wrap;
    width: 600px;
    height: 600px;
}

.menu-container {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100%;

    background-color: #121c54;
}

.game-menu-button {
    padding: 16px;
    
    font-size: 3em;
    text-align: center;
    font-weight: bold;

    background-color: transparent;
    border: none;

    cursor: pointer;
}

.game-menu-button:focus {
    outline: unset;
}

.game-container-win {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 600px;
    height: 600px;
    background-color: #121c54cc;
    opacity: 0;
    transition: all 0.5s;
}

.win-message {
    margin: 0px;
    text-align: center;
    line-height: 600px;
    font-size: 3em;
    font-weight: bold;
}

.main-game-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.single-panel {
    box-sizing: border-box;
    background-color: green;
    border: 3px solid #121c54;
}

/*CONTROL BUTTONS*/

.button-space {
    margin: auto;
    margin-top: 13px;
    display: flex;
    flex-direction: row;
    height: 220px;
    width: 872px;
    background-color: #121c54;
}

.button-space > div {
    height: 100%;
}

.button-space > div:nth-child(odd) {
    width: 30%;
}

.button-space > div:nth-child(2) {
    width: 40%;
}

.button-space button {
    display: block;
    width: 100%;
    padding: 20px;
    background-color: transparent;
    border: none;
    border: 3px solid gold;
}

.button-space > div:nth-child(odd) > button {
    height: 100%;
}

.button-space > div:nth-child(2) > button {
    height: 50%;
}

.arrow {
    fill: gold;
    stroke: gold;
    stroke-width: 1;
}


/* PANEL SIZE PRESETS */

.single-panel-2 {
    width: 300px;
    height: 300px;
}

.single-panel-3 {
    width: 200px;
    height: 200px;
}

.single-panel-4 {
    width: 150px;
    height: 150px;
}

.single-panel-5 {
    width: 120px;
    height: 120px;
}

.single-panel-6 {
    width: 100px;
    height: 100px;
}

.single-panel-8 {
    width: 75px;
    height: 75px;
}
/* RWD */

@media (max-width: 910px) {
    .header-one {
        font-size: 3em;
    }

    .sub-header {
        font-size: 1.25em;
    }

    .win-message {
        font-size: 2.5em;
    }

    .main-game-area {
        flex-direction: column;
        align-items: center;
    }

    .game-side-panel {
        margin: 3px 0px;
        width: 600px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .game-side-panel > p {
        font-size: 1.25em;
    }

    .button-space {
        width: 600px;
        height: 150px;
    }

    .button-space {
        margin-top: 6px;
    }

    .button-space button {
        padding: 10px;
    }

    .button-space > div:nth-child(odd) > button > svg {
        height: 126px;
    }

    .button-space > div:nth-child(2) > button > svg {
        height: 51px;
    }

}

@media (max-width: 636px) {
    .header-one {
        font-size: 2em;
    }

    .sub-header {
        font-size: 1em;
    }

    .game-container {
        width: 360px;
        height: 360px;
    }
    
    .game-menu-button {
        padding: 12px;   
        font-size: 1.6em;
    }

    .game-container-win {
        width: 360px;
        height: 360px;
    }

    .game-side-panel {
        width: 360px;
        border-width: 2px;
    }

    .game-side-panel > p {
        font-size: 1em;
    } 
    
    .win-message {
        line-height: 360px;
        font-size: 2em;
    }

    .single-panel-2 {
        width: 180px;
        height: 180px;
    }
    
    .single-panel-3 {
        width: 120px;
        height: 120px;
    }
    
    .single-panel-4 {
        width: 90px;
        height: 90px;
    }
    
    .single-panel-5 {
        width: 72px;
        height: 72px;
    }
    
    .single-panel-6 {
        width: 60px;
        height: 60px;
    }
    
    .single-panel-8 {
        width: 45px;
        height: 45px;
    }

    .button-space {
        width: 360px;
        height: 90px;
    }

    .button-space {
        margin-top: 6px;
    }

    .button-space button {
        padding: 5px;
        border-width: 2px;
    }

    .button-space > div:nth-child(odd) > button > svg {
        height: 74px;
    }

    .button-space > div:nth-child(2) > button > svg {
        height: 29px;
    }
}