/* Variables*/


/*Typography*/
html {font: 16px 'Open Sans Condensed', 'Roboto Condensed', Verdana, sans-serif;}
h1 {font-size: 2.25em;}

p {font-size: 1.25em;}

/*Layout*/
html,
body {
  width: 100%;
  height: 100%;
}

body {
    background-color: #121c54;
}

  
  .wrapper {
    margin: auto;
    width: 60em;/*960px*/
    min-height: 100%;
  }
/*Navigation*/
nav h1 {
    float: right;
    padding: .25em .25em 0 0;
    font-size: 4.5em;
    text-transform: uppercase;
  }
  nav h1 a {color: goldenrod;}
  .nav-ul {
    display: flex;
  }
  header li {width: 20%;}
  header li:not(:first-child) {margin-left: 2%;}
  header .nav-ul a {
    display: block;
    padding: 1.75em .5em;
    font-size: 1.5em;
    text-align: center;
    color: goldenrod;
  
  }

